@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.section1 {
  min-height: 100vh;
  background-image: url("../../../assets/Images/inicio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.title {
  color: rgb(246, 249, 212);
  font-size: 4rem;
  font-weight: normal;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 1);
  z-index: 5;
  font-family: Anton;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  width: 11rem;
  margin-top: 1rem;
  position: absolute;
  top: 75%;
  left: 52.7%;
  transform: translate(-50%, -50%);
}
.icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .section1 {
    background-image: url("../../../assets/Images/inicio2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    font-size: 2.5rem;
    min-width: 20rem;
    text-align: center;
    top: 39%;
    left: 53%;
  }
  .icons {
    top: 50%;
    left: 53%;
    width: 7rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .section1 {
    background-image: url("../../../assets/Images/inicio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    font-size: 2.3rem;
    text-align: center;
    top: 58%;
    left: 60%;
  }
  .icons {
    top: 70%;
    left: 60%;
    width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section1 {
    background-image: url("../../../assets/Images/inicio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    font-size: 2.7rem;
    text-align: center;
    top: 57%;
    left: 65%;
  }
  .icons {
    top: 70%;
    left: 65%;
    width: 8.5rem;
  }
}
