.carouselContainer {
  text-align: center;
  margin: 50px auto;
  max-width: 1200px;
  padding-top: 10px;
}

.swiper {
  width: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burgerImage {
  width: 200px;
  height: auto;
  transition: transform 0.3s;
}

.burgerImage:hover {
  transform: scale(1.05);
}

.burgerName {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #6a2800;
}
