.container {
  background: rgb(247, 221, 108);
  background: linear-gradient(
    180deg,
    rgba(247, 221, 108, 1) 0%,
    rgba(154, 67, 28, 1) 100%
  );
  height: 87vh;
  position: relative;
  text-align: center;
  justify-content: center;
}

img {
  padding-top: 50px;
  width: 300px;
}
.row {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 21.5%;
  gap: 20px;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}
.content {
  justify-content: center;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.content h1 {
  color: #51320b;
  font-family: Titan One;
  font-weight: normal;
  font-size: 27px;
  padding-bottom: 5px;
}
.content p,
.content span {
  font-size: 16px;
  font-weight: bold;
  color: #f2b36a;
  font-size: 18px;
}

.footer {
  text-align: center;
}

.footer h1 {
  font-size: 18px;
  font-weight: bold;
  color: #f2b36a;
  position: absolute;
  top: 93%;
  right: 40%;
}
