.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 150px;
}
.links a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  transition: transform 0.3s ease;
}
.links a:hover {
  color: #ed5007;
  transform: scale(1.1);
}
@media (max-width: 480px) {
  .links {
    padding: 0;
    padding-left: 2rem;
    width: 65%;
    padding-right: 1rem;
  }
  .links a {
    font-size: 1.1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .links {
    padding: 0;
  }
  .links a {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .links a {
    font-size: 1.4rem;
  }
  .links {
    padding: 2rem;
  }
}
