@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.headerTitle h1 {
  font-size: 2.3rem;
  color: #ed5007;
  text-transform: uppercase;
  font-family: Titan One;
  font-weight: normal;
  padding-top: 5rem;
  transition: transform 0.3s ease;
  padding-bottom: 2.5rem;
}
.headerTitle h1:hover {
  transform: scale(1.1);
  cursor: default;
}
.content {
  padding: 0;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.content img {
  width: 13rem;
}
.content .texts {
  max-width: 30rem;
  padding-top: 0rem;
}

.content .texts h1 {
  font-family: Titan One;
  font-weight: normal;
  color: #53380c;
  padding-bottom: 0.6rem;
}
.content p {
  color: #9f723b;
}
@media (max-width: 480px) {
  .headerTitle h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .container {
    padding-bottom: 3rem;
  }
  .content {
    padding-right: 0.5rem;
  }
  .content img {
    width: 11rem;
    padding-right: 1rem;
  }
  .texts p {
    max-width: 15rem;
  }
}
@media (min-width: 480px) and (max-width: 668px) {
  .headerTitle h1 {
    font-size: 2.3rem;
    text-align: center;
  }
  .container {
    padding-bottom: 3rem;
  }
  .content {
    padding-right: 0.6rem;
  }
  .content img {
    width: 16rem;
    padding-right: 1.6rem;
  }
  .texts p {
    max-width: 30rem;
  }
}
@media (min-width: 668px) and (max-width: 768px) {
  .headerTitle h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .container {
    padding-bottom: 3rem;
  }
  .content {
    padding-right: 0.6rem;
  }
  .content img {
    width: 16rem;
  }
  .texts p {
    max-width: 30rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .headerTitle {
    text-align: center;
    font-size: 2.5rem;
  }
  .headerTitle h1 {
    font-size: 2.6rem;
  }
  .container {
    padding-bottom: 3rem;
  }
  .content {
    padding-right: 0.6rem;
  }
  .content img {
    width: 16rem;
  }
  .texts p {
    max-width: 30rem;
    font-size: 1.2rem;
  }
  .texts h1 {
    font-size: 1.9rem;
  }
}
